.tip,
.warning,
.danger
  padding 1rem 1.5rem
  border-left-width .5rem
  border-left-style solid
  margin 1rem 0
  .title
    font-weight bold
.tip
  background-color #f3f5f7
  border-color #42b983
  @media (prefers-color-scheme: dark)
    background-color #3e3b3b
.warning
  background-color rgba(255,229,100,.3)
  border-color darken(#ffe564, 35%)
  color darken(#ffe564, 70%)
  @media (prefers-color-scheme: dark)
    background-color rgba(185, 174, 119, 0.3)
  .title
    color darken(#ffe564, 50%)
.danger
  background-color #ffe6e6
  border-color darken(red, 20%)
  color darken(red, 70%)
  @media (prefers-color-scheme: dark)
    background-color rgba(255, 214, 214, 0.3)
  .title
    color darken(red, 40%)
.right
  p
    color transparentify($textColor, 0.5)
    font-size 0.9rem
    text-align right
    @media (prefers-color-scheme: dark)
      color transparentify(#fff, 0.5)
#global-layout
  background: #18181f !important
.home .hero img
  max-width 450px!important
.logo-img
  height: 75% !important
.header .header-navbar .header-nav .nav-link .link-list .list-item::after
  background: rgb(70, 181, 73) none repeat scroll 0% 0% !important
.header .header-navbar .header-nav .nav-link .link-list .list-item:nth-child(1).router-link-exact-active
  color: rgb(70, 181, 73) !important
.search-box input
  background-color: rgb(24, 24, 31) !important
  border: 1px solid rgb(37, 37, 49) !important
  color: rgb(60, 176, 112) !important
.list .list-item .item-content .content-title::after
  background: rgb(70, 181, 73) !important
